<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21284558077-5tu3s82ui7q48o64n7lgghdb11oo7abk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21284558077-5tu3s82ui7q48o64n7lgghdb11oo7abk</string>
	<key>API_KEY</key>
	<string>AIzaSyAWisCRH8is375y28m6bA2NA2rnMDZ7Zn8</string>
	<key>GCM_SENDER_ID</key>
	<string>21284558077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.congson.anthealth</string>
	<key>PROJECT_ID</key>
	<string>anthealth-5d362</string>
	<key>STORAGE_BUCKET</key>
	<string>anthealth-5d362.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21284558077:ios:5ad0b35df1699d90081a94</string>
	<key>DATABASE_URL</key>
	<string>https://anthealth-5d362-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>